header{
  height: 99px;
  /* border: 1px solid red; */
  background: #131921;
}
.a_main{
  height: 4818px;
  border: 1px solid;
  background: #eaeded;
}
footer{
  height: 227px;
  border: 1px solid blue;;
  background: #131921;
}